.second-header {
  width: 100vw;
  min-width: 500px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
  border: 5px double orange;
}