.second-header {
  width: 100vw;
  min-width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-page {
  text-decoration: none;
  margin-bottom: 3vw;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.second-search-form {
  display: flex;
  position: absolute;
  top: 21%;
  left: 51%;
  transform: translate(-50%,-50%);
  background: aquamarine;
  height: 60px;
  border-radius: 60px;
  padding: 10px;
  border: 1px double black;
}
.second-search-form:hover>.second-input-box {
  width: 400px;
}

.second-input-box {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: .3s;
  line-height: 40px;
  width: 0px;
}

.second-search-icon {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
}