.items-search {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 0;
  background-image: image-url('tomato.jpg');
  background-size: cover;
  background-position: center;

}