.items-search {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.gyazo.com/7826e690f08026bed5f0547bfbd4d984.jpg');
  background-size: cover;
  background-attachment: fixed;
} 
.items-search-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
  margin-top: 20px;
  margin-bottom: 50px;
  border: solid 3px black;
  background-color: rgba(255, 255, 255, 0.5);
}
  .items-search-main>.item-img-content {
    border: 2px solid black;
  }
  .search-info {
  border-bottom:1px solid black ;
   margin-bottom: 8px;
  }
  