.items-search {
  height: 130vh;
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  background-image: image-url('farmers-salad-2332580_1920.jpg');
}