/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 0;
  background-image: image-url('farmers-salad-2332580_1920.jpg');
  background-size: cover;
  background-position: center;

}

.item-box {
  background-color: #FFF;
  width: 60vw;
  min-width: 60vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.item-box-img {
  height: 50vh;
  width: 50vw;
  min-height: 50vh;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 20px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 20px;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 20px;
}

.item-explain-box {
  font-size: 30px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 50vw;
  border: 2px solid black;

}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 17px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* /商品の概要 */

.comment-box {
  width: 40vw;
  margin: 5vh 0;
  text-align: center;
  justify-content: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px orange;
  resize: none;
  border-radius: 20px;
  outline: none;
}

.comments {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: solid 1px orange;
  background-color: white;
  border-radius: 20px;
  text-align:left
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 80%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

