@charset "UTF-8";
/* 商品の概要 */
@media (min-width: 600px) {
  .item-show {
    background-color: #f8f8f8;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0, 0;
    background-image: url("https://i.gyazo.com/90c2d8dda93a27e4e6c9aa8cd3b0e60f.jpg");
    background-size: cover;
    background-position: center;
  }
  .second-search-form {
    display: flex;
    position: absolute;
    top: 15%;
    left: 51%;
    transform: translate(-50%, -50%);
    background: aquamarine;
    height: 60px;
    border-radius: 60px;
    padding: 10px;
    border: 1px double black;
  }
  .second-search-form:hover > .second-input-box {
    width: 300px;
  }
  .second-input-box {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
    width: 0px;
  }
  .second-search-icon {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
  }
  .item-box {
    background-color: white;
    width: 100vw;
    max-width: 95vw;
    margin-top: 80px;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
  }
  .item-image {
    width: 50%;
    height: 100%;
  }
  .item-image > .name {
    height: 10vh;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
  }
  .item-image-content {
    width: 100vw;
    height: 40vh;
  }
  .item-box-img {
    height: 100%;
    width: 100%;
    max-height: 50vh;
    background-color: white;
    object-fit: contain;
  }
  .item-box > .item-info {
    width: 50%;
    height: 100%;
  }
  .item-price-box {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .item-price-box > .item-price {
    font-size: 4vh;
    font-weight: bold;
  }
  .item-price-box > .item-postage {
    font-size: 20px;
  }
  .item-btn {
    display: flex;
    justify-content: space-around;
  }
  .item-buy-btn {
    text-align: center;
    width: 30%;
    height: 30px;
    background-color: limegreen;
    font-size: 20px;
    color: #FFF;
    margin: 10px 40px;
    border-radius: 20px;
  }
  .item-edit-btn {
    text-align: center;
    width: 30%;
    height: 30px;
    background-color: limegreen;
    font-size: 20px;
    color: #FFF;
    margin: 10px 40px;
    border-radius: 20px;
  }
  .or-text {
    font-size: 20px;
  }
  .item-destroy-btn {
    text-align: center;
    width: 20%;
    height: 30px;
    background-color: darkred;
    font-size: 20px;
    color: #FFF;
    margin: 10px 40px;
    border-radius: 20px;
  }
  .item-explain-box {
    width: 100%;
    height: 20px;
    font-size: 20px;
  }
  .detail-table {
    margin-top: 30px;
    width: 100%;
    border: 2px solid black;
  }
  .detail-item {
    width: 20%;
    background-color: #eee;
    border: 1px solid #dedede;
    font-size: 18px;
    text-align: center;
  }
  .detail-value {
    width: 80%;
    padding: 20px;
    border: 1px solid #dedede;
    font-size: 17px;
  }
  .option {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  /* /商品の概要 */
  .comment-box {
    width: 40vw;
    margin: 5vh 0;
    text-align: center;
    justify-content: center;
  }
  .comment-text {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: solid 2px orange;
    resize: none;
    border-radius: 20px;
    outline: none;
  }
  .comments {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: solid 1px orange;
    background-color: white;
    border-radius: 20px;
    text-align: left;
  }
  .comment-warn {
    padding: 10px;
    font-size: 14px;
    margin: 10px 0px;
    text-align: left;
  }
  .comment-btn {
    line-height: 48px;
    background-color: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
    width: 80%;
    min-width: 150px;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 2vh;
  }
}

@media (max-width: 599px) {
  .item-show {
    background-color: #f8f8f8;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0, 0;
    background-image: url("https://i.gyazo.com/90c2d8dda93a27e4e6c9aa8cd3b0e60f.jpg");
    background-size: cover;
    background-position: center;
  }
  .search-bar-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .second-search-form {
    display: flex;
    background: turquoise;
    height: 60px;
    padding: 10px;
    border: 1px double black;
  }
  .second-input-box {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    line-height: 40px;
    width: 60vw;
  }
  .second-search-icon {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .item-box {
    background-color: white;
    width: 60vw;
    min-width: 60vw;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
  }
  .item-image > .name {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .item-box-img {
    height: 50vh;
    width: 50vw;
    min-height: 50vh;
    background-color: #cdcaca;
    object-fit: contain;
  }
  .item-price-box {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .item-price-box > .item-price {
    font-size: 4vh;
    font-weight: bold;
  }
  .item-price-box > .item-postage {
    font-size: 20px;
  }
  .item-buy-btn {
    text-align: center;
    width: 50%;
    height: 50px;
    background-color: limegreen;
    font-size: 20px;
    color: #FFF;
    margin: 10px 20px;
    padding: 2vh 7vw;
    border-radius: 20px;
  }
  .item-edit-btn {
    text-align: center;
    background-color: limegreen;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    margin: 20px 0px;
    padding: 2vh 10vw;
    border-radius: 20px;
  }
  .or-text {
    font-size: 20px;
  }
  .item-destroy-btn {
    background-color: lightgray;
    text-align: center;
    font-size: 24px;
    color: black;
    margin: 20px 0px;
    padding: 2vh 10vw;
    border-radius: 20px;
  }
  .item-explain-box {
    font-size: 30px;
    margin: 40px 0px;
  }
  .detail-table {
    margin-bottom: 30px;
    width: 50vw;
    border: 2px solid black;
  }
  .detail-item {
    width: 20%;
    background-color: #eee;
    border: 1px solid #dedede;
    font-size: 18px;
    text-align: center;
  }
  .detail-value {
    width: 80%;
    padding: 20px;
    border: 1px solid #dedede;
    font-size: 17px;
  }
  .option {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  /* /商品の概要 */
  .comment-box {
    width: 40vw;
    margin: 5vh 0;
    text-align: center;
    justify-content: center;
  }
  .comment-text {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: solid 2px orange;
    resize: none;
    border-radius: 20px;
    outline: none;
  }
  .comments {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: solid 1px orange;
    background-color: white;
    border-radius: 20px;
    text-align: left;
  }
  .comment-warn {
    padding: 10px;
    font-size: 14px;
    margin: 10px 0px;
    text-align: left;
  }
  .comment-btn {
    line-height: 48px;
    background-color: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
    width: 80%;
    min-width: 150px;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 2vh;
  }
}
