/* form-wrapは商品購入画面でも使用しています */
.session-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.form-wrap {
  width: 100%;
  min-width: 100%;
  height: 100%;
  background-image: url('https://i.gyazo.com/a64c4b5c03e6d3f790963fabdd68d2c4.jpg');
  background-size: cover;
}
.login-btn {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login-red-btn {
  width: 30vw;
  min-width: 20vw;
  border: 3px solid black;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 60px;
}

.login-flash-message {
  text-align: center;
  color: red;
  font-size: large;
}
@media(max-width: 599px) {
  .form-wrap {
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url('https://i.gyazo.com/fe5eea427f8ad36b6019358a078f1cd2.png');
    background-size:100% 100%;
  }
  .login-btn {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .login-red-btn {
    width: 120px;
    height: 120px;
    background-color:rgba(0, 153,255, 0.5);
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    bottom: 15px;
    right: 15px;
    position: fixed;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}