@media(min-width: 600px) {
.registration-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap-regist {
  width: 100%;
  min-width: 100%;
  background-image: url('https://i.gyazo.com/4ad6d20a810549a5f4519dfad5ca652a.jpg');
  background-size: cover;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
  color: orange;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: black;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
  color: black;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.register-red-btn {
  width: 30vw;
  min-width: 20vw;
  border: 3px solid black;
  color: black;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px ;
  border-radius: 60px;
}
}

@media(max-width:599px) {
  .registration-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .form-wrap-regist {
    width: 100%;
    min-width: 100%;
    background-image: url('https://i.gyazo.com/4ad6d20a810549a5f4519dfad5ca652a.jpg');
    background-size: cover;
  }
  
  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .form-group:first-child {
    padding: 0;
  }
  
  .form-text-wrap {
    width: 100%;
    height: 20%;
  }
  
  .form-text {
    font-size: 14px;
    font-weight: bold;
    color: orange;
  }
  
  .input-default {
    width: 100%;
    margin-top: 5px;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    resize: none;
  }
  
  .info-text {
    color: black;
    font-size: 15px;
    margin-top: 3px;
  }
  
  .form-info-header {
    font-weight: bold;
  }
  
  .form-info-text {
    font-size: 15px;
    color: black;
  }
  
  .input-name-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .input-name {
    width: 130px;
    margin: 5px 20px 10px 20px;
    height: 48px;
    line-height: 30px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
    resize: none;
  }
  
  .field_with_errors {
    display: contents;
  }
    .register-red-btn {
    width: 120px;
    height: 120px;
    background-color:rgba(0, 153,255, 0.5);
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    bottom: 15px;
    right: 15px;
    position: fixed;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}